:root,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html, body, #app {
  height: 100%;
  overflow-x: hidden;
}

#app {
  display: flex;
  flex-direction: column; 
}

#app {
  display: flex;
}

h1 { font-size: var(--h1-size); }
h2 { font-size: var(--h2-size); }
h3 { font-size: var(--h3-size); }
h4 { font-size: var(--h4-size); }
h5 { font-size: var(--h5-size); }
h6 { font-size: var(--h6-size); }

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: var(--heading-weight);
  line-height: var(--heading-line-height);
  letter-spacing: var(--heading-letter);
  margin: 0 0 0.5em 0;
}





