:root {
  /*font*/
  --font-heading: "Inter", sans-serif;
  --h1-size: 2.2rem;
  --h2-size: 1.8rem;
  --h3-size: 1.5rem;
  --h4-size: 1.3rem;
  --h5-size: 1.1rem;
  --h6-size: 1rem;

  --heading-weight: 560;      
  --heading-line-height: 1.25; 
  --heading-letter: -0.3px;    

  /*space*/
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-8: 2rem;
  --space-10: 2.5rem;
  --space-12: 3rem;
  --space-16: 4rem;
  --space-20: 5rem;
  --space-24: 6rem;

   /* base */
  --z-base: 0;

  /* layout */
  --z-navbar: 10;
  --z-sidebar: 20;

  /* overlays */
  --z-overlay: 10;

  /* modais */
  --z-modal: 40;
  --z-toast: 50;

}


:root {
  --bg-header: var(--p-surface-100); 
  --bg-surface: var(--p-surface-100); 
  --border-subtle: rgba(119, 119, 119, 0.219);
  --bg-hover: rgba(0, 0, 0, 0.04);
  --scroll-thumb: rgba(0, 0, 0, 0.3);
}


.my-app-dark {
  --bg-header: var(--p-surface-800); 
  --bg-surface: var(--p-surface-800); 
  --border-subtle: rgba(255, 255, 255, 0.15);
  --bg-hover: rgba(255, 255, 255, 0.06);
  --scroll-thumb: rgba(255, 255, 255, 0.35);
}



* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-thumb) transparent;
}

/* WebKit (Chrome, Edge, Safari) */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
  border-radius: 10px;
}